<!-- ======= Footer ======= -->
<footer class="footer-area footer-bg mt-5">
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-sm-12 d-flex  justify-content-center">
          <div>
            <h6 class="text-gray-600 text-sm mb-0 ">Abidjan Terminal</h6>
            <p class="text-ligth text-sm">2023 Copirigth Abidjan Cote
              d'ivoire</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="d-flex justify-content-start align-items-start flex-column gap-y-2">
            <h6 class="text-gray-600 text-sm">Accès direct</h6>
            <a href="#!" class="text-ligth underline text-sm">Tableau de bord</a>
            <a href="#!" class="text-ligth underline text-sm">Demande d'exonération</a>
            <a href="#!" class="text-ligth underline text-sm">Demande de remboursement</a>
            <a href="#!" class="text-ligth underline text-sm">Historique générale</a>
            <a href="#!" class="text-ligth underline text-sm">Quelques statistique</a>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="d-flex justify-content-start align-items-start flex-column gap-y-2">
            <h6 class="text-gray-600 underline text-sm">Lien rapides </h6>
            <a href="#!" class="text-ligth underline text-sm">Plitiques de confidntialié</a>
            <a href="#!" class="text-ligth underline text-sm">Guide utilisateur</a>
            <a href="#!" class="text-ligth underline text-sm">FAQ</a>
            <a href="#!" class="text-ligth underline text-sm">Condition générale</a>
            <a href="#!" class="text-ligth underline text-sm">Contactez nous</a>
        </div>
          <!-- footer link -->
        </div>

      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer widget -->

  <!-- footer copyright -->
</footer>