<!-- HEADER MENU -->
<shared-menu-header></shared-menu-header>

<!-- SECTION -->
<section class="contact-area ">
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class=" h-full ">
                    <h2 class="font-semibold tracking-tight  text-gray-700 text-4xl">Gestions des
                        operations portuaires
                    </h2>
                    <p class="mt-4 text-gray-400 mr-4 ">Creation et suivi des demandes de d'exoneration et de
                        remboursement</p>

                    <div class="mt-16 grid grid-cols-1 gap-y-8 ">
                        <div class=" bg-blue-500 d-flex pl-8 py-2 ">
                            <div class=" d-flex align-items-center mr-8">
                                <div class="w-4 h-4 rounded-full bg-white"></div>
                            </div>
                            <div class=" text-sm text-white ">Enregistrer une demande d'exonération.</div>
                        </div>

                        <div class=" bg-gray-200 d-flex pl-8 py-2 ">
                            <div class=" d-flex align-items-center mr-8">
                                <div class="w-4 h-4 rounded-full bg-black"></div>
                            </div>
                            <div class=" text-sm text-black ">Enregistrer une demande de remboursement.
                            </div>
                        </div>
                        <div class=" d-flex pl-8 py-2 border border-1  ">
                            <div class=" d-flex align-items-center mr-8">
                                <div class="w-4 h-4 rounded-full bg-danger"></div>
                            </div>
                            <div class=" text-sm text-danger ">Enregistrer une demande d'exonération.
                            </div>
                        </div>

                    </div>
                </div>
                <!-- contact two -->
            </div>
            <div class="col-xl-6 col-lg-6 offset-xl-1">
                <div class="gap-y-[16px] h-full pr-8 ">
                    <div class="mb-[32px]">
                        <h6 class="text-gray-500 text-xl ">Bonsoir Denis.</h6>
                        <p class="text-gray-400 text-sm ">Votre derniere connexion était a 17h le Mercredi.</p>
                    </div>

                    <div class="grid grid-cols-1 gap-y-4 ">
                        <div class="">
                            <p class="text-gray-500 text-sm ">Actions</p>
                            <div class=" border border-1  bg-light p-4  text-center ">
                                <span class="italic text-secondary">Vous navez aucune action à réaliser</span>
                            </div>
                        </div>

                        <div class="  ">
                            <div class="d-flex">
                                <div class=" d-flex align-items-center  mr-2 ">
                                    <div class="w-2 h-2 rounded-full bg-danger"></div>
                                </div>
                                <div class=" text-sm text-secondary text-center">Exonérations
                                </div>
                            </div>
                            <div class="border border-1 p-2px   pr-4 pl-8 d-flex c text-center ">
                                <div class="d-flex align-items-center"> <span class="text-sm text-gray-300 ">Somme de
                                        demande de remboursements
                                        accordées</span>
                                </div>
                                <div class="d-flex align-items-center text-gray-300 "><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                                        </path>
                                    </svg></div>

                            </div>
                            <div class="border border-1   px-2px   d-flex justify-content-between  ">
                                <div class="w-tier  pl-3 pt-3 pr-3">

                                    <div class="text-sm text-gray-300  ">Valeur totale</div>
                                    <div class="d-flex">
                                        <div class="text-xl text-gray-700 text-semibold ">500.000</div>
                                        <div class="text-8px text-gray-300 ml-1 ">XOF</div>
                                    </div>
                                </div>
                                <div class=" border-l w-full pl-4 pt-2 m-0 ">
                                    <div class="text-sm text-danger underline">Compte KIKA Sarl depuis 12 Janvier
                                        2022</div>
                                    <div class="d-flex pt-1 ">
                                        <div class="text-xl text-gray-700 text-semibold m-0 ">500.000</div>
                                        <div class="text-8px  text-gray-300 ml-1 mr-2 ">XOF</div>
                                        <div>
                                            <span class="text-sm text-gray-300 text-spacing ">sur</span>
                                            <span class="text-14px  text-gray-700 text-semibold  text-spacing">O4</span>
                                            <span class="text-sm text-gray-300  text-spacing ">Exonération</span>
                                        </div>

                                    </div>
                                    <div class="d-flex flex-column align-items-end mb-1 w-full">
                                        <button class="bg-danger border-0 text-white  pl-6 pr-6 text-sm">
                                            Afficher</button>

                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="  ">
                            <div class="d-flex">
                                <div class=" d-flex align-items-center  mr-2 ">
                                    <div class="w-2 h-2 rounded-full bg-primary"></div>
                                </div>
                                <div class=" text-sm text-primary text-center">Remboursement
                                </div>
                            </div>
                            <div class="border border-1 p-2px   pr-4 pl-8 d-flex justify-content-between text-center ">
                                <div class="d-flex align-items-center"> <span class="text-sm text-gray-300 ">Somme de
                                        demande de remboursements
                                        accordées</span>
                                </div>
                                <div class="d-flex align-items-center text-gray-300 "><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                                        </path>
                                    </svg></div>

                            </div>
                            <div class="border border-1   px-2px   d-flex justify-content-between  ">
                                <div class="w-tier  pl-3 pt-3 pr-3">

                                    <div class="text-sm text-gray-300  ">Valeur totale</div>
                                    <div class="d-flex">
                                        <div class="text-xl text-gray-700 text-semibold ">500.000</div>
                                        <div class="text-8px text-gray-300 ml-1 ">XOF</div>
                                    </div>
                                </div>
                                <div class=" border-l w-full pl-4 pt-2 m-0 ">
                                    <div class="text-sm text-primary underline">Compte KIKA Sarl depuis 12 Janvier
                                        2022</div>
                                    <div class="d-flex pt-1 ">
                                        <div class="text-xl text-gray-700 text-semibold m-0 ">500.000</div>
                                        <div class="text-8px  text-gray-300 ml-1 mr-2 ">XOF</div>
                                        <div>
                                            <span class="text-sm text-gray-300 text-spacing ">sur</span>
                                            <span class="text-14px  text-gray-700 text-semibold  text-spacing">O4</span>
                                            <span class="text-sm text-gray-300  text-spacing ">Exonération</span>
                                        </div>

                                    </div>
                                    <div class="d-flex flex-column align-items-end mb-1 w-full">
                                        <button class="bg-primary border-0 text-white  pl-6 pr-6 text-sm">
                                            Afficher</button>

                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="  ">
                            <div class="d-flex">
                                <div class=" d-flex align-items-center  mr-2 ">
                                    <div class="w-2 h-2 rounded-full bg-dark"></div>
                                </div>
                                <div class=" text-sm  text-center">Totaux generaux
                                </div>
                            </div>
                            <div class="border border-1 p-2px   pr-4 pl-8 d-flex justify-content-between text-center ">
                                <div class="d-flex align-items-center"> <span class="text-sm text-gray-300 ">Statistique
                                        générale sur les exhonerations et les remboursements</span>
                                </div>
                                <div class="d-flex align-items-center text-gray-300 "><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                                        </path>
                                    </svg></div>

                            </div>
                            <div class="border border-1   pl-[2px]  pr-[2px]  d-flex justify-content-between  ">
                                <div class="w-tier  p-3">

                                    <div class="text-sm text-gray-300  ">Exonérations PAA </div>
                                    <div class="d-flex">
                                        <p class="text-xl text-gray-700 text-semibold ">3.000.000</p>
                                        <div class="text-8px  text-gray-300 ml-1 ">XOF</div>

                                    </div>

                                </div>
                                <div class="w-tier border-l  p-3">

                                    <div class="text-sm text-gray-300    ">Exonérations IOC</div>
                                    <div class="d-flex">
                                        <p class="text-xl text-gray-700 text-semibold ">789.000</p>
                                        <div class="text-8px  text-gray-300 ml-1 ">XOF</div>

                                    </div>

                                </div>
                                <div class="w-tier border-l  p-3">

                                    <div class="text-sm text-gray-300  ">Exonérations ATL</div>
                                    <div class="d-flex">
                                        <p class="text-xl text-gray-700 text-semibold ">1.360.000</p>
                                        <div class="text-8px  text-gray-300 ml-1 ">XOF</div>

                                    </div>
                                    <!-- <div class=" text-center">
                                        <div class="bg-light p-x-2 p-y-1 w-3quart">
                                            <span class="text-sm text-gray-300 text-semibold"> 11</span>
                                        </div>
                                    </div> -->
                                </div>


                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!-- FOOTER -->
<shared-footer></shared-footer>