<!-- HEADER MENU -->
<shared-menu-header></shared-menu-header>

<!-- SECTION -->
<section class="contact-area ">
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="gap-y-[32px] h-full">
                    <h2 class="text-2xl font-semibold tracking-tight mr-6 text-gray-700 sm:text-4xl">Traitement de
                        la demande
                    </h2>
                    <div class="mt-16 grid grid-cols-1 gap-y-8 ">
                        <div class=" d-flex align-items-center">
                            <div class="border-none mr-8 flex py-2 ">
                                <div
                                    class="w-16px h-16px bg-blue-500 p-6 rounded-full text-white text-center d-flex justify-content-center align-items-center ">
                                    <div>1</div>
                                </div>
                            </div>
                            <div class=" text-sm text-secondary">Renseigner un commentaire en indiquand les details
                                sur le type de traitement effectuer sur cette demande .</div>
                            <!-- <div class=" text-sm text-gray-300  ">Renseigner les informations generales de la
                                    demande ajouter si demande les differents BLs.</div> -->
                        </div>
                        <div class=" d-flex align-items-center">
                            <div class="border-none mr-8 flex  py-2 ">
                                <div
                                    class="w-16px h-16px bg-blue-500 p-6 rounded-full text-white text-center d-flex justify-content-center align-items-center ">
                                    <div>2</div>
                                </div>
                            </div>
                            <div class=" text-sm text-secondary  ">Ajouter tous les documents necessaires pour
                                completer votre demande et soumettre pour validation.</div>
                            <!-- <div class=" text-sm text-gray-300  ">Renseigner les informations generales de la
                                    demande ajouter si demande les differents BLs.</div> -->
                        </div>


                    </div>
                    <div class="mt-16 grid grid-cols-1 gap-y-8 ">
                        <div class=" py-2 pl-8 bg-black  text-white">
                            <span>Afficher les detail de la demande </span>
                        </div>
                        <div class=" py-2 pl-8 bg-black  text-white">
                            <span>Afficher toutes l'historique des demandes </span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xl-6 col-lg-6 offset-xl-1">
                <div class=" h-full pr-8 pt-0 mt-0">

                    <div class=" bg-light  p-3  d-flex  ">
                        <div class=" w-tier grid grid-cols-1 gap-y-4   ">
                            <div class="text-secondary">Type de demande: </div>
                            <div class="text-secondary">Date de création: </div>
                            <div class="text-secondary">Montant: </div>
                            <div class="text-secondary">Status courant: </div>
                        </div>
                        <div class=" w-2/3 grid grid-cols-1 gap-y-4   ">
                            <div class=" fw-bold">Exhonération</div>
                            <div class=" fw-bold">17/03/23 </div>
                            <div class=" fw-bold text-danger ">455.000 XAF</div>
                            <div class=" fw-bold text-primary">En attente de documents</div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p>Commentaire</p>
                        <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
                    </div>

                    <div class="mt-4">
                        <p>Documents demandés </p>
                        <div class="p-2 text-secondary d-flex justify-content-between border border-1">
                            <div class="fw-bold text-dark">Fichier 1</div>
                            <div>16/03/23</div>
                            <div>URL</div>
                            <div class="text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                </svg></div>
                        </div>
                        <div class="p-2 text-secondary d-flex justify-content-between border border-1">
                            <div class="fw-bold text-dark">Fichier 2</div>
                            <button class="bg-primary border-0 text-white py-2  px-3 text-sm">
                                Charger</button>
                        </div>
                        <div class="p-2 text-secondary d-flex justify-content-center border border-1">
                            <p class="fw-bold">.....</p>

                        </div>
                        <div class="p-2 d-flex justify-content-between border border-1">
                            <div class="fw-bold text-dark">Fichier n</div>
                            <button class="bg-primary border-0 text-white py-2 px-3 text-sm">
                                Charger</button>
                        </div>
                    </div>
                    <div class="mt-4 d-flex">
                        <button class="bg-secondary text-white border-0 py-2  pl-6 pr-6 text-sm mr-6">
                            Annuller</button>
                        <button class="bg-success text-white border-0  py-2 pl-8 pr-16 text-sm">
                            Valider</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!-- FOOTER -->
<shared-footer></shared-footer>